body{
    background-color: rgb(169, 240, 240);
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;

}

header{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    text-decoration: underline;
}

.card1{
    height: 380px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: rgb(204, 229, 237);
    margin: 20px;
    box-shadow: 5px 5px 10px black;
    
    
}
.card1:hover{
    box-shadow:0 5px 30px black;
    transition: all 0.5s ease-in;
    transform: rotate(10);
    transform: rotate(-1deg);

    

}


.img-section{
    height: 170px;
    width: 300px;
    /* background-color: orange; */
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-section p{
    text-align: center;
}
.img{
    height: 140px;
    width: 160px;
    border-radius: 15px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 7px black;
}

.img:hover{
    box-shadow: 5px 5px 10px black;
    transition: all 0.5s ease-in;
}

h2{
    text-align: center;
}

.price{
    margin-left: 70px;
    font-size:larger;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.discount{
        margin-left: 70px;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

.buy{
    height: 35px;
    width: 100px;
    margin-left: 95px;
    background-color: rgb(43, 68, 232);
    border: none;
    border-radius: 5px;
    color: white;
}


.buy:hover{
    background-color: rgb(13, 13, 129);
    
    
}

footer{
    /* display: flex;
    align-items: center;
    justify-content: ; */
    text-align: center;
    font-size: larger;
    /* background-color: antiquewhite; */
}